html {
    scroll-behavior: smooth;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.container-cabecalho {
    margin: 4%;
}

.card-text {
    color: black;
}

.titulo-nome {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.navbar {
    background-color: #cbe65b;
}

.projetos-realizados>.card {
    background-color: #cbe65b;
    border-color: black;
    border-style: dotted;
}

main>.card {
    background-color: #cbe65b;
    border-color: black;
    border-style: dotted;
}

.card>.card-body>.sobre {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.titulo-desenvolvedor {
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.imagem-foguete {
    align-items: center;
    display: inline-block;
    vertical-align: middle;
}

.li-tecnologias {
    display: none;
}

.caixa-sobre p {
    font-size: 18px;
    padding: 10px 30px;
    text-indent: 1.7em;
    text-align: justify;
}

.caixa-sobre p a {
    text-decoration: none;
    text-transform: uppercase;
    color: slategray;
}

blockquote {
    background-color: #cbe65b;
    border-color: black;
    height: 3rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-style: dotted;
}

.projetos-realizados {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.caixa-projetos-realizados {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0px;
}

.caixa-projetos-realizados li {
    display: inline-block;
    text-align: center;
    width: 100%;
    vertical-align: top;
}

.caixa-projetos-realizados p {
    font-size: 18px;
    text-indent: 0.5em;
    text-align: center;
    padding: 0 1%;
}

.caixa-projetos-realizados a {
    text-decoration: none;
    color: slategray;
}

.caixa-tecnologias li {
    font-size: 18px;
    padding: 10px 30px;
}

.caixa-tecnologias p {
    font-size: 18px;
    padding: 10px 30px;
    text-indent: 1.7em;
    text-align: justify;
    text-indent: 1.5em;
}

.list-group>.list-group-item.active {
    background-color: #cbe65b;
    border-color: #cbe65b;
    font-family: 'Poppins', sans-serif;
}

.lista-objetivos {
    list-style-type: armenian;
}

.titulo-tecnologias {
    font-size: 1.2rem !important;
}

figcaption {
    font-family: 'Poppins', sans-serif;
    color: black;
}

footer {
    text-align: center;
    padding-top: 30px;
}

.redes {
    display: inline-block;
    margin-left: 10px;
}

.copyright {
    text-align: center;
    font-size: 13px;
    padding: 20px 0px;
}

@media screen and (min-width: 200px) and (max-width: 340px) {
    .card>.card-img-top {
        width: 100%;
        max-height: 30%;
    }
    .titulo-nome {
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        color: white;
    }
}

@media screen and (min-width: 500px) {
    .card>.card-img-top {
        width: 100%;
        max-height: 60%;
    }
    .titulo-nome {
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        color: white;
    }
}

@media screen and (min-width: 700px) {
    .card>.card-img-top {
        max-height: 20rem;
    }
    main>.card {
        flex-direction: row;
        background-color: #cbe65b;
        border-color: black;
        border-style: dotted;
    }
    .titulo-nome {
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        color: white;
    }
    .titulo-tecnologias {
        font-size: 1.5rem !important;
    }
}

@media screen and (min-width: 800px) {
    .card>.card-img-top {
        max-height: 16rem;
    }
    main>.card {
        flex-direction: row;
        background-color: #cbe65b;
        border-color: black;
        border-style: dotted;
    }
    .imagem-foto {
        width: 20%;
        height: 16rem;
        border-radius: 50%;
    }
    .card-img-top {
        border-top-left-radius: 50% !important;
        border-top-right-radius: 50% !important;
    }
    .titulo-desenvolvedor {
        color: black;
        text-align: left;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        padding-left: 0%;
    }
    .li-tecnologias {
        display: inline-block;
    }
    blockquote {
        background-color: #cbe65b;
        border-color: black;
        height: 3rem;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border-style: dotted!important;
    }
    .projetos-realizados {
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    .caixa-projetos-realizados {
        width: 940px;
        margin: 0 auto;
        padding: 50px 0px;
    }
    .caixa-projetos-realizados li {
        display: inline-block;
        text-align: center;
        width: 30%;
        vertical-align: top;
        margin-left: 7px;
    }
    .caixa-projetos-realizados p {
        text-align: justify;
        padding: 0 auto;
    }
    footer a:hover {
        background: none;
    }
}